
/* Responsive Layout */

/* For a larger screen */
@media screen and (min-width: 850px) {

	.Carousel {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		background-color: rgb(58,58,58);
	}

	.slide {
		width: 80%;
		margin: 0 auto;
	}

	.leftarrow {
		padding-left: 10%;
	}

	.rightarrow {
		padding-right: 10%;

	}

}

/* For a smaller screen */
@media screen and (max-width: 850px) {

	.Carousel {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		background-color: rgb(58,58,58);
	}

	.slide {
		width: 80%;
		margin: 0 auto;
	}
}

/* Arrow Styles and Nitpicking */

.arrow {
	top: 50vh;
	width: 50px;
	height: 50px;
	color: rgb(127,124,157);
	text-align: center;
	opacity: 0.5;
	transition: 0.2s;
	font-weight: 1px;
	padding-top: 3%;
}

.arrow:hover {
	opacity: 0.5;
	color: rgb(93,179,233);
	transition: 0.2s;
	cursor: pointer;
}

.blurb > p {
	padding-bottom: 60px;
	color: white;
}

.blurb > h1 {
	color: white;
	font-weight: 1px;
}

/* Transitions */

.fromRight-enter {
  transform: translate(100vw);
}

.fromRight-enter.fromRight-enter-active {
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.fromLeft-enter {
  transform: translate(0%);
}
.fromLeft-enter.fromLeft-enter-active {
  transform: translate(-100vw);
  transition: transform 500ms ease-in-out;
}