
@media screen and (min-width: 850px) {

	.Carousel {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		background: linear-gradient(white, rgb(58,58,58));
	}

	.slide {
		width: 80%;
		margin: 0 auto;
	}

	.leftarrow {
		padding-left: 10%;
	}

	.rightarrow {
		padding-right: 10%;
	}

}

@media screen and (max-width: 850px) {

	.Carousel {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 100%;
		margin: 0 auto;
		position: relative;
		background: linear-gradient(white, rgb(58,58,58));
	}

	.slide {
		width: 80%;
		margin: 0 auto;
	}
}


.arrow {
	top: 50vh;
	width: 50px;
	height: 50px;
	color: rgb(127,124,157);
	text-align: center;
	opacity: 0.5;
	transition: 0.2s;
	font-weight: 1px;
}




.arrow:hover {
	opacity: 0.5;
	color: rgb(93,179,233);
	border: 2px solid rgba(93,179,233, 0.1);
	transition: 0.2s;
	cursor: pointer;
}

.blurb > p {
	padding-bottom: 60px;
	color: white;
}

.blurb > h1 {
	color: white;
	font-weight: 1px;
}


.fromLeft-enter {
	left: -100%;
}

.fromLeft-enter.fromLeft-enter-active {
	left: 0;
	transition: 1000ms;
}

.fromRight-enter {
	left: 100%;
}
.fromRight-enter.fromRight-enter-active {
	left: 0;
	transition: 500ms;
}