
p, h2 {
	padding: 0;
	margin: 0;
}


@media screen and (min-width: 1200px) {
	.Imgdiv {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: auto;
		width: 1000px;
		max-width: 100%;
		padding-top: 15vh;
		padding-bottom: 15vh;
		position: sticky;
	}


	#right > .text {
		order: 2;
		float: right;
	}

	#right > .image {
		display: inline-block;
		float: left;	
		clear: both;		
		order: 1;


	}

	#left > .text {
		display: block;
		float: left;
	}

	#left > .image {
		display: flex;
		float: right;
	}

}

@media screen and (min-width: 600px) {
	.Imgdiv {
		align-items: center;
		justify-content: center;
		max-width: 90%;
		margin: auto;
		padding-top: 15vh;
		padding-bottom: 15vh;
	}

	.image {
		display: block;
		margin: auto;
		max-width: 50%;
	}
}

@media screen and (max-width: 600px){

	.Imgdiv {
		margin: 0;
		padding-top: 15vh;
		padding-bottom: 15vh;
	}

	.image {
		display: block;
		margin: auto;
		width: 50%;
	}

}



